## Actividad 6

Bernardo Quintana López A01658064

**Importar librerías**

In [23]:
import funciones as fn
import pandas as pd

**Agregar archivo de país**

In [24]:
Londres = pd.read_csv('Inglaterra.csv')
Londres.head()

,id,last_scraped,source,host_id,host_name,host_since,host_location,host_is_superhost,host_neighbourhood,host_total_listings_count,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,reviews_per_month
0,56229.0,12/12/24,city scrape,216660,Boris,29/08/10,"London, United Kingdom",f,Hammersmith,11.0,...,4.67,4.88,4.79,4.92,4.71,f,11,9,1,0.84
1,62970.0,12/12/24,city scrape,336059,Thomas,05/01/11,"Hamilton Parish, Bermuda",NaN,Mid-Beach,47.0,...,4.60,4.80,4.74,4.63,4.51,t,1,1,0,1.05
2,63948.0,12/12/24,city scrape,216660,Boris,29/08/10,"London, United Kingdom",f,Hammersmith,11.0,...,4.69,4.87,4.78,4.91,4.60,f,11,9,1,1.06
3,66772.0,11/12/24,city scrape,216660,Boris,29/08/10,"London, United Kingdom",f,Hammersmith,11.0,...,4.76,4.87,4.77,4.92,4.67,f,11,9,1,1.10
4,69198.0,11/12/24,city scrape,345886,Alda,13/01/11,"London, United Kingdom",f,NaN,1.0,...,4.77,4.62,4.85,4.62,4.23,f,1,0,1,0.09

**Función 1**

In [25]:
# Cargar el archivo
df = fn.datos('Inglaterra.csv')

**Función 2**

In [26]:
# Sustituir valores nulos
df = fn.nulos(df)

**Función 3**

In [27]:
#Identificar nulos 
nulos = fn.find_nulos(df)
print("Nulos por columna:", nulos["nulos_por_columna"])
print("Nulos totales:", nulos["nulos_totales"])

Nulos por columna: id                                              0
last_scraped                                    0
source                                          0
host_id                                         0
host_name                                       0
host_since                                      0
host_location                                   0
host_is_superhost                               0
host_neighbourhood                              0
host_total_listings_count                       0
host_has_profile_pic                            0
host_identity_verified                          0
neighbourhood                                   0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms                                       0
bedrooms                                        0
beds                                            0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
minimum_minimum_nights                          0
maximum_minimum_nights                          0
minimum_maximum_nights                          0
maximum_maximum_nights                          0
minimum_nights_avg_ntm                          0
maximum_nights_avg_ntm                          0
has_availability                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
first_review                                    0
last_review                                     0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
reviews_per_month                               0
dtype: int64
Nulos totales: 0

**Función 4**

In [28]:
df_final = fn.atipicos(df)

Límite superior permitido: id                                              2.750000e+18
host_id                                         8.591024e+08
host_total_listings_count                       2.850000e+01
accommodates                                    7.000000e+00
bathrooms                                       1.881200e+00
bedrooms                                        6.000000e+00
beds                                            3.500000e+00
price                                           2.665000e+02
minimum_nights                                  8.500000e+00
maximum_nights                                  2.722500e+03
minimum_minimum_nights                          6.000000e+00
maximum_minimum_nights                          9.500000e+00
minimum_maximum_nights                          2.677500e+03
maximum_maximum_nights                          2.664000e+03
minimum_nights_avg_ntm                          9.250000e+00
maximum_nights_avg_ntm                          2.664000e+03
availability_30                                 4.750000e+01
availability_60                                 1.150000e+02
availability_90                                 1.875000e+02
availability_365                                6.725000e+02
number_of_reviews                               4.500000e+01
number_of_reviews_ltm                           1.500000e+01
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                            2.404650e+02
review_scores_accuracy                          5.396862e+00
review_scores_cleanliness                       2.404950e+02
review_scores_checkin                           5.307612e+00
review_scores_communication                     2.401800e+02
review_scores_location                          5.286250e+00
review_scores_value                             2.406000e+02
calculated_host_listings_count                  1.600000e+01
calculated_host_listings_count_entire_homes     1.000000e+01
calculated_host_listings_count_private_rooms    2.500000e+00
reviews_per_month                               2.471250e+02
dtype: float64
Límite inferior permitido: id                                             -1.650000e+18
host_id                                        -4.750183e+08
host_total_listings_count                      -1.550000e+01
accommodates                                   -1.000000e+00
bathrooms                                       4.712801e-01
bedrooms                                       -2.000000e+00
beds                                           -5.000000e-01
price                                          -1.500000e+00
minimum_nights                                 -3.500000e+00
maximum_nights                                 -1.537500e+03
minimum_minimum_nights                         -2.000000e+00
maximum_minimum_nights                         -2.500000e+00
minimum_maximum_nights                         -1.462500e+03
maximum_maximum_nights                         -1.440000e+03
minimum_nights_avg_ntm                         -3.950000e+00
maximum_nights_avg_ntm                         -1.440000e+03
availability_30                                -2.850000e+01
availability_60                                -6.900000e+01
availability_90                                -1.125000e+02
availability_365                               -4.035000e+02
number_of_reviews                              -2.700000e+01
number_of_reviews_ltm                          -9.000000e+00
number_of_reviews_l30d                          0.000000e+00
review_scores_rating                           -1.367750e+02
review_scores_accuracy                          4.338564e+00
review_scores_cleanliness                      -1.368250e+02
review_scores_checkin                           4.487313e+00
review_scores_communication                    -1.363000e+02
review_scores_location                          4.396250e+00
review_scores_value                            -1.370000e+02
calculated_host_listings_count                 -8.000000e+00
calculated_host_listings_count_entire_homes    -6.000000e+00
calculated_host_listings_count_private_rooms   -1.500000e+00
reviews_per_month                              -1.478750e+02
dtype: float64

**Resultado final**

In [29]:
df_final

,last_scraped,source,host_name,host_since,host_location,host_is_superhost,host_neighbourhood,host_has_profile_pic,host_identity_verified,neighbourhood,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,reviews_per_month
0,12/12/24,city scrape,Boris,29/08/10,"London, United Kingdom",f,Hammersmith,t,t,Este_es_un_valor_nulo,...,4.710000,4.67,4.880000,4.79,4.92000,4.71,11.0,9.0,1.0,0.84
1,12/12/24,city scrape,Thomas,05/01/11,"Hamilton Parish, Bermuda",Este_es_un_valor_nulo,Mid-Beach,t,t,Neighborhood highlights,...,4.640000,4.60,4.800000,4.74,4.63000,4.51,1.0,1.0,0.0,1.05
2,12/12/24,city scrape,Boris,29/08/10,"London, United Kingdom",f,Hammersmith,t,t,Este_es_un_valor_nulo,...,4.620000,4.69,4.870000,4.78,4.91000,4.60,11.0,9.0,1.0,1.06
3,11/12/24,city scrape,Boris,29/08/10,"London, United Kingdom",f,Hammersmith,t,t,Este_es_un_valor_nulo,...,4.760000,4.76,4.870000,4.77,4.92000,4.67,11.0,9.0,1.0,1.10
4,11/12/24,city scrape,Alda,13/01/11,"London, United Kingdom",f,Este_es_un_valor_nulo,t,t,Neighborhood highlights,...,4.690000,4.77,4.620000,4.85,4.62000,4.23,1.0,0.0,1.0,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95139,12/12/24,city scrape,Anastasiia,15/02/22,Este_es_un_valor_nulo,f,Este_es_un_valor_nulo,f,t,Neighborhood highlights,...,4.735425,99.00,4.794925,99.00,4.73376,99.00,1.0,1.0,0.0,99.00
95140,11/12/24,city scrape,Susan,09/12/15,"London, United Kingdom",f,Este_es_un_valor_nulo,t,t,Este_es_un_valor_nulo,...,4.735425,99.00,4.794925,99.00,4.73376,99.00,1.0,1.0,0.0,99.00
95141,12/12/24,city scrape,Steve,22/05/17,"London, United Kingdom",f,Este_es_un_valor_nulo,t,t,Este_es_un_valor_nulo,...,4.735425,99.00,4.794925,99.00,4.73376,99.00,2.8,0.0,0.4,99.00
95142,11/12/24,city scrape,Ursula,31/03/19,"England, United Kingdom",f,Este_es_un_valor_nulo,f,f,Este_es_un_valor_nulo,...,4.735425,99.00,4.794925,99.00,4.73376,99.00,1.0,0.0,1.0,99.00
95143,11/12/24,city scrape,Chione,09/05/16,"London, United Kingdom",f,Nine Elms,t,f,Este_es_un_valor_nulo,...,4.735425,99.00,4.794925,99.00,4.73376,99.00,1.0,1.0,0.0,99.00